<mat-toolbar color="primary">
  <span routerLink="/" class="app">App</span>
  <div class="spacer"></div>
  <button mat-raised-button routerLink="/" class="space" class="space">Home</button>
  <button mat-raised-button routerLink="/product/home" class="space">Product</button>
  <button mat-raised-button routerLink="/product/add-product" class="space">Add Product</button>
  <button mat-raised-button routerLink="/coupon/home" class="space">Coupon</button>
  <button mat-raised-button routerLink="/coupon/add-coupon" class="space">Add Coupon</button>
</mat-toolbar>
  <router-outlet></router-outlet>

